/* GLOBAL AND COMMONS*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.common-text {
    color: #969696;
    font-size: 16px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.mb-20px{
    margin-bottom: 20px;
}

.mb-30px{
    margin-bottom: 30px;
}

.wrapper {
    /* TEST CODE -  NEEDS REVIEW BEFORE DEPLOY*/
    width:70%;
    margin: auto;
    padding: 15px 0;
    /* TEST CODE ENDS -  NEEDS REVIEW BEFORE DEPLOY*/
}

.img-container{
    position:relative;
    border-radius: 10px;
    overflow: hidden;
}

.img-layover {
    background-color: rgba(0, 0, 0, 0.2);
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.img-fit{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* HEADER */
/* logo*/
header .logo img {
    width: 150px;
}

/*nav*/
.header-nav .menu {
    list-style: none;
}

.header-nav .menu .menu-item {
    display: inline-block;
    margin: 0 5px;
}

.menu-item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #8a8a8a;
}

/* BANNER */
.huge-banner {
    height: 500px;
}

.teaser {
    position: absolute;
    width: 50%;
    left: 40px;
    bottom: 60px;
}

/* banner text*/
.teaser-text {
    color:white;
    font-weight: 200;
}

h1 {
    font-size: 30px;
}

.teaser h3 {
    font-size: 16px
}

/* MAIN CONTENT */

.main-header h2 {
    font-size: 36px;
    font-weight: 700;
}

.col {
    float: left;
}

.left-bar,
.right-bar {
    width: 20%;
}

.col-img {
    height: 200px;
    margin-bottom: 20px;
}

main h4{
    font-weight: 600;
    margin-bottom: 10px;
}
.main-content-bar {
    width:56%;
    margin: 0 2%;
}

/* FOOTER */
footer {
    text-align: center;
    padding-top : 20px;
    margin-bottom: 10px;
}

footer .common-text {
    color:black;
}

footer .common-text::after {
    content: " \2764";
    color: red;

}