/* GLOBAL AND COMMONS*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.mb-30px{
    margin-bottom: 30px;
}

.wrapper {
    /* TEST CODE -  NEEDS REVIEW BEFORE DEPLOY*/
    width:80%;
    margin: auto;
    padding: 15px 0;
    /* TEST CODE ENDS -  NEEDS REVIEW BEFORE DEPLOY*/
}

.img-layover {
    background-color: rgba(0, 0, 0, 0.3);
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.img-fit{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* HEADER */
/* logo*/
header .logo img {
    width: 150px;
}

/*nav*/
.header-nav .menu {
    list-style: none;
}

.header-nav .menu .menu-item {
    display: inline-block;
    margin: 0 5px;
}

.menu-item a {
    text-decoration: none;
    color: #8a8a8a;
}

/* BANNER */
.huge-banner {
    height: 500px;
    position:relative;
    border-radius: 10px;
    overflow: hidden;
}

.teaser {
    position: absolute;
    width: 50%;
    left: 40px;
    bottom: 60px;
}

/* banner text*/
.teaser-text {
    color:white;
    font-weight: 200;
}

h1 {
    font-size: 30px;
}

.teaser h3 {
    font-size: 16px
}

/* MAIN CONTENT */
main {
    padding-bottom: 15px;
    margin-bottom: 10px;
    /* TEST CODE -  NEEDS REVIEW BEFORE DEPLOY*/
    background-color:#0087ff;
    /* TEST CODE ENDS -  NEEDS REVIEW BEFORE DEPLOY*/
}

main div {
    /* TEST CODE -  NEEDS REVIEW BEFORE DEPLOY*/
    background-color:#abcfe7;
    /* TEST CODE ENDS -  NEEDS REVIEW BEFORE DEPLOY*/
}

.main-header {
    /* TEST CODE -  NEEDS REVIEW BEFORE DEPLOY*/
    height: 80px;
    /* TEST CODE ENDS -  NEEDS REVIEW BEFORE DEPLOY*/
}

.col {
    float: left;
    /* TEST CODE -  NEEDS REVIEW BEFORE DEPLOY*/
    height: 350px;
    /* TEST CODE ENDS -  NEEDS REVIEW BEFORE DEPLOY*/
}

.left-bar,
.right-bar {
    width: 20%;
}

.main-content {
    width:56%;
    margin: 0 2%;
}

/* FOOTER */
footer {
    /* TEST CODE -  NEEDS REVIEW BEFORE DEPLOY*/
    height: 40px;
    background-color:#8801fe;
    /* TEST CODE ENDS -  NEEDS REVIEW BEFORE DEPLOY*/
}